.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  flex: 0 0 auto;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  background-color: #444a55;
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.itemWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.itemBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.addItemBody {
  padding:.4em .4em;
  height: auto; 
  margin: auto;
  margin-bottom: .4em;
  width: 90vw;
  max-width: 600px;
  font-size: 1.4em;
  color: #222;
  background-color: #eee; 
  border-radius: 3px;
  box-shadow: 3px 3px 2px #222;
  opacity: 1;
}
